html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: #0011bb;
}

a:visited {
  color: #6600cc;
}

h1 {
  color: #444444;
}

.content-container {
  text-align: center;
}

.headerList {
  padding-inline-start: 0;
  color: #444444;
}

.detailList {
  color: #777777;
}
