html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: #0011bb;
}

a:visited {
  color: #6600cc;
}

* {
  box-sizing: border-box;
}

.content-container {
  text-align: center;
}
