.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
    padding: 0 25px 0 25px;
}

.header h1 {
    color: #777777;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
