.profileContainer {
    display: flex;
    text-align: left;
    justify-content: center;
}

.row {
    height: 100vh;
    width: 15vw;
}

.midRow {
    height: 100vh;
    width: 5vw;
}

.profileContainer ul {
    list-style-type: none;
}

.profileContainer ul li {
    padding-bottom: 20px;
}


