.profileContainer {
    display: flex;
    text-align: left;
    justify-content: center;
}

.row {
    width: 15vw;
}

.midRow {
    width: 5vw;
    margin-left: 20px;
}

.profileContainer ul {
    list-style-type: none;
}

.profileContainer ul li {
    padding-bottom: 20px;
    font-weight: bold;
}


